---
import { getPosts } from '../utils/post';
import { MAX_POSTS } from '../utils/const';

import Main from "../layouts/Main.astro";

const allPosts = await getPosts(MAX_POSTS);
---

<Main title="Cassie's Journal">
  {JSON.stringify(allPosts)}
</Main>
