---
import type { MarkdownLayoutProps } from "astro";

import defaultImg from "/images/cat.jpg";

import Main from "./Main.astro";

type Props = MarkdownLayoutProps<{
  poster?: string;
  caption?: string;
  title: string;
  subtitle: string;
}>;

const { poster, title, subtitle, caption } = Astro.props.frontmatter;
---

<Main title="Cassie Lin | Blog">
  <div class="prose max-w-[100%]">
    <figure class="m-0 mb-4">
      <img
        src={poster || defaultImg}
        alt={title}
        width="100%"
        height="auto"
        class="max-w-[100%] rounded-lg"
      />
      <figcaption class="text-center">
        {caption || title}
      </figcaption>
    </figure>
    <h1>{title}</h1>
    <h2>{subtitle}</h2>
    <slot />
  </div>
</Main>
