---
import "../styles/main.css";

import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NavigationBar.astro";

interface Props {
    title: string;
}

const { title } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Cassie's Website" />
        <title>{title}</title>
        <script is:inline>
            const DARK_THEME_CLASS = "dark";
            const COLOUR_MODE_STORAGE_KEY = "BLOG_COLOUR_MODE";
            const LIGHT_MODE = "LIGHT";
            const DARK_MODE = "DARK";

            const rootEl = document.documentElement;

            // Initialize the theme colour
            const getInitialColourMode = () => {
                const savedColourMode = window.localStorage.getItem(
                    COLOUR_MODE_STORAGE_KEY
                );

                if (savedColourMode) return savedColourMode;

                if (window.matchMedia("(prefers-color-scheme: dark)").matches)
                    return DARK_MODE;

                return LIGHT_MODE;
            };

            const initlThemeMode = getInitialColourMode();
            const setInitialThemeMode = (mode) => {
                if (mode === DARK_MODE) {
                    rootEl.classList.add(DARK_THEME_CLASS);
                } else {
                    rootEl.classList.remove(DARK_THEME_CLASS);
                }
            };
            setInitialThemeMode(initlThemeMode);
        </script>
    </head>
    <body>
        <main>
            <NavigationBar />
            <slot />
            <Footer />
        </main>
    </body>
</html>
