---
import Main from "./Main.astro";
---

<style>
  p,
  h3 {
    margin: 0;
  }
</style>

<Main title="Cassie Lin | Resume">
  <div class="prose max-w-[100%]">
    <div class="text-center">
      <h1 class="mb-0">Cassie Lin</h1>
      <p>
        ineslin35@gmail.com | <a
          href="https://www.linkedin.com/in/shanyulin"
          target="_blank"
          rel="noopener noreferrer">LinkedIn</a
        > | <a
          href="https://github.com/12cassie34"
          target="_blank"
          rel="noopener noreferrer">Github</a
        >
      </p>
    </div>
    <hr />
    <p>
      As an enthusiastic front-end developer with four years of industry
      experience, I excel in utilising technologies such as React, JavaScript,
      TypeScript, GraphQL, and data visualisation tools like D3.js and
      Leaflet.js. I am exceptionally driven and committed to quickly mastering
      emerging technologies. I am actively seeking an opportunity to leverage my
      proven abilities and contribute to an interesting, innovative product in
      the UK.
    </p>
    <hr />
    <div>
      <h2 class="m-0">Experience</h2>
      <div>
        <div class="flex justify-between items-baseline">
          <h3>Frontend Developer</h3>
          <p>IONEX Energy | Taipei, Taiwan | Aug 2022 - Present</p>
        </div>
        <p class="text-neutral">
          Skills: <b>React.js</b>, <b>Jotai</b>, <b>TypeScript</b>, <b
            >Next.js</b
          >, <b>GraphQL</b>, <b>Cypress</b>
        </p>
        <ul>
          <li>
            Investigated i18n tools, engaged in cross-department discussions
            about the localization workflow, and successfully implemented
            Lokalise in our projects.
          </li>
          <li>
            Designed and implemented the authorisation feature on our main web
            application which plays a crucial role in expanding international
            client base.
          </li>
          <li>
            Was responsible for building the dashboard resolution, enabling
            real-time monitoring and management of vehicles and energy stations.
          </li>
          <li>
            Conduct code reviews and provide constructive feedback to peers to
            ensure high-quality code.
          </li>
        </ul>
      </div>
      <div>
        <div>
          <h3>Frontend Developer</h3>
          <p>IISI Group | Taipei, Taiwan | Sep 2021 - Jul 2022</p>
        </div>
        <p class="text-neutral">
          Skills: <b>D3.js</b>, <b>Echarts.js</b>, <b>jsPDF</b>, <b>Vuetify</b>, <b
            >Vue</b
          >, <b>Vuex</b>, <b>Vue Router</b>, <b>Cypress</b>, <b>SCSS</b>
        </p>
        <ul>
          <li>
            Developed an official meteorological data purchasing website
            following e-commerce procedures, enhancing the data acquisition
            process.
          </li>
          <li>
            Conducted end-to-end testing using Cypress, resulting in reliable
            and efficient testing of web applications.
          </li>
          <li>
            Utilised D3.js and Echarts.js to visualise complex meteorological
            data, making it easy for researchers and government officials to
            understand and make informed decisions.
          </li>
          <li>
            Translated UI/UX designs into functional web layouts using SCSS and
            Vuetify.
          </li>
          <li>
            Collaborated with back-end developers to troubleshoot front-end
            issues, ensuring seamless user experiences.
          </li>
        </ul>
      </div>
      <div>
        <di>
          <h3>Frontend Developer</h3>
          <p>AIPLUX | Taipei, Taiwan | Jun 2020 - Aug 2021</p>
        </di>
        <p class="text-neutral">
          Skills: <b>Vue</b>, <b>Vuex</b>, <b>Vuelidate</b>, <b>Vue Router</b>, <b
            >Vue i18n</b
          >, <b>axios</b>, <b>SCSS</b>
        </p>
        <ul>
          <li>
            Utilised Laravel and Vue.js to develop a website that enables users
            to register trademarks online in the USA, China, and Taiwan.
          </li>
          <li>
            Streamlined the application process by collaborating with the team
            to design a user-friendly form filling experience.
          </li>
          <li>
            Developed a robust content management system that empowers users to
            monitor the progress of their application.
          </li>
          <li>
            Implemented Vue.js I18n to cater to the website's multi-language
            requirements.
          </li>
        </ul>
      </div>
    </div>
  </div>
</Main>
