---
import Main from "./Main.astro";
---

<style>
  .contact {
    text-align: center;
  }

  .experience__item__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  h1 {
    margin-bottom: 0;
  }

  p,
  h3 {
    margin: 0;
  }
</style>

<Main title="Cassie Lin | Resume">
  <div class="contact">
    <h1>Cassie Lin</h1>
    <p>
      ineslin35@gmail.com | <a
        href="https://www.linkedin.com/in/shanyulin"
        target="_blank"
        rel="noopener noreferrer">LinkedIn</a
      > | <a
        href="https://github.com/12cassie34"
        target="_blank"
        rel="noopener noreferrer">Github</a
      >
    </p>
  </div>
  <hr />
  <p class="summary">
    As a self-taught front-end developer, I pride myself on my demonstrated
    ability to collaborate effectively with colleagues. My passion for learning
    and software development drives me to continuously improve my skills, with
    the goal of becoming a better developer each day.
  </p>
  <hr />
  <div class="experience">
    <h2>Experience</h2>
    <div class="experience__item">
      <div class="experience__item__title">
        <h3>Frontend Developer</h3>
        <p>IONEX Energy | Taipei, Taiwan | Aug 2022 - Present</p>
      </div>
      <p>
        Skills: <b>React.js</b>, <b>Jotai</b>, <b>TypeScript</b>, <b>Next.js</b
        >, <b>GraphQL</b>, <b>Cypress</b>
      </p>
      <ul>
        <li>
          Investigated i18n tools, engaged in cross-department discussions about
          the localization workflow, and successfully implemented Lokalise in
          our projects.
        </li>
        <li>
          Play a critical role in building the dashboard resolution, enabling
          real-time monitoring and management of vehicles and energy stations.
        </li>
        <li>
          Conduct code reviews and provide constructive feedback to peers to
          ensure high-quality code.
        </li>
      </ul>
    </div>
    <div class="experience__item">
      <div class="experience__item__title">
        <h3>Frontend Developer</h3>
        <p>IISI Group | Taipei, Taiwan | Sep 2021 - Jul 2022</p>
      </div>

      <p>
        Skills: <b>D3.js</b>, <b>Echarts.js</b>, <b>jsPDF</b>, <b>Vuetify</b>, <b
          >Vue</b
        >, <b>Vuex</b>, <b>Vue Router</b>, <b>Cypress</b>, <b>SCSS</b>
      </p>
      <ul>
        <li>
          Developed an official meteorological data purchasing website following
          e-commerce procedures, enhancing the data acquisition process.
        </li>
        <li>
          Utilized D3.js and Echarts.js to visualize complex meteorological
          data, making it easy for researchers and government officials to
          understand and make informed decisions.
        </li>
        <li>
          Translated UI/UX designs into functional web layouts using SCSS and
          Vuetify.
        </li>
        <li>
          Collaborated with back-end developers to troubleshoot front-end
          issues, ensuring seamless user experiences.
        </li>
      </ul>
    </div>
    <div class="experience__item">
      <div class="experience__item__title">
        <h3>Frontend Developer</h3>
        <p>AIPLUX | Taipei, Taiwan | Jun 2020 - Aug 2021</p>
      </div>
      <p>
        Skills: <b>Vue</b>, <b>Vuex</b>, <b>Vuelidate</b>, <b>Vue Router</b>, <b
          >Vue i18n</b
        >, <b>axios</b>, <b>SCSS</b>
      </p>
      <ul>
        <li>
          Utilized Laravel and Vue.js to develop a website that enables users to
          register trademarks online in the USA, China, and Taiwan.
        </li>
        <li>
          Streamlined the application process by collaborating with the team to
          design a user-friendly form filling experience.
        </li>
        <li>
          Developed a robust content management system that empowers users to
          monitor the progress of their application.
        </li>
        <li>
          Implemented Vue.js I18n to cater to the website's multi-language
          requirements.
        </li>
      </ul>
    </div>
  </div>
</Main>
